.profile-container {
    width: 100%;
    margin: 30px auto 20px auto;
}

.profile-container p {
    margin: 0 auto;
    text-align: center;
}

.user-photo {
    height: 100px;
    width: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    box-shadow: 0 0 20px #CCC;
}

.user-photo img {
    height: auto;
    width: 100%;
}

.completed-favorites {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.completed {
    width: 45%;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    margin-right: 5px;
    transition: 0.4s;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.favorites {
    width: 45%;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
    transition: 0.4s;
    background: black;
    border: none;
    color: white;
    cursor: pointer;
}

.selected {
    background: white;
    color: black;
    border: 1px solid lightgray;
}

#comChartContainer {
    height: 120px;
    width: 100%;
}

#comChart {
    margin: 20px auto 10px auto;
    padding: 0 20px;
}

#comChartContainer p {
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0 20px;
}

#comChartContainer h4 {
    text-align: center;
    margin: 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

#disChartContainer {
    height: 120px;
    width: 100%;
}

#disChart {
    margin: 20px auto 10px auto;
    padding: 0 20px;
}

#disChartContainer p {
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0 20px;
}

#disChartContainer h4 {
    text-align: center;
    margin: 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.fav-expand {
    width: 100%;
    text-align: center;
    border-top: 1px solid #DDD;
}

.fav-expand p {
    cursor: pointer;
}

.fav-expand:last-child {
    border-bottom: 1px solid #DDD;
}

.accordion {
    background-color: #FFF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion.active,
.accordion:hover {
    background-color: #EEE;
}

.panel {
    height: 190px;
    width: 100%;
    background: #FFF;
    padding: 5px 18px;
    display: none;
    transition: 0.4s;
}

.panel p {
    height: 40px;
    width: 230px;
    margin: 15px auto;
    text-align: center;
    border: 1px solid lightgray;
    background: white;
    padding: 5px 10px;
    transition: 0.4s;
}

.panel p.active,
.panel p:hover {
    background-color: black;
    color: white;
}

@media(min-width: 650px) {
    .profile-container {
        width: 100%;
        margin: 40px auto 20px auto;
    }
    .profile-container p {
        color: white;
    }
    .side-bar-profile {
        width: 260px;
        position: absolute;
        left: 0;
        height: 100%;
        background: #25707a;
        z-index: 101;
    }
    .completed-favorites {
        flex-direction: column;
    }
    .completed,
    .favorites {
        margin: 10px auto;
        width: 220px;
    }
    .user-photo {
        box-shadow: none;
    }
    #comChart {
        width: calc(80vw - 300px) !important;
        height: 160px !important;
        margin-top: 60px;
    }
    #disChart {
        width: calc(80vw - 300px) !important;
        height: 160px !important;
        margin-top: 60px;
    }
    .elevation-container {
        width: calc(80vw - 260px);
        padding: 20px;
        --webkit-box-shadow: 4px 4px 24px -1px rgba(166, 166, 166, 1);
        -moz-box-shadow: 4px 4px 24px -1px rgba(166, 166, 166, 1);
        box-shadow: 4px 4px 24px -1px rgba(166, 166, 166, 1);
        margin: 20px auto 40px auto;
        position: relative;
    }
    .distance-container {
        width: calc(80vw - 260px);
        padding: 20px;
        -webkit-box-shadow: 4px 4px 24px -1px rgba(166, 166, 166, 1);
        -moz-box-shadow: 4px 4px 24px -1px rgba(166, 166, 166, 1);
        box-shadow: 4px 4px 24px -1px rgba(166, 166, 166, 1);
        margin: 20px auto;
        position: relative;
    }
    #comChartContainer {
        width: calc(100vw - 260px);
        margin: 50px 0 20px 0;
        height: calc(100vh - 70px);
        position: absolute;
        right: 0;
        z-index: 101;
    }
    #comChartContainer p {
        background: black;
        color: white;
        height: 50px;
        padding-top: 10px;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
    }
    .fav-list-container {
        position: absolute;
        width: calc(100vw - 380px);
        right: 0;
        top: 40px;
        -webkit-box-shadow: 4px 4px 24px -1px rgba(166, 166, 166, 1);
        -moz-box-shadow: 4px 4px 24px -1px rgba(166, 166, 166, 1);
        box-shadow: 4px 4px 24px -1px rgba(166, 166, 166, 1);
        margin: 60px;
        overflow: scroll;
        height: calc(100vh - 180px)
    }
    .fav-expand {
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
    }
}