<div class="profile-container">
    <div class="user-photo"><img src={{photo}}></div>
    <p>{{user}}</p>
</div>

<div class="completed-favorites">
    <p class="completed" id='com' ng-click="selected('#com')">Completed</p>
    <p class="favorites" id='fav' ng-click="selected('#fav')">Favorites</p>
</div>
<div ng-show='section' ng-repeat='complete in completed'>
    {{complete.trail_id}}
    <canvas id="comChart" width="100%" height="400"></canvas>
</div>

<div ng-hide='section' ng-repeat='favorite in favorites'>
    {{favorite.trail_id}} <button ng-click='deleteTrail(favorite.trail_id)'>remove from favorites</button> 
    <button ng-click='markCompleted(favorite.trail_id)'>mark completed</button>
    <canvas id="favChart" width="400" height="400"></canvas>
</div>

