<!DOCTYPE html>
<html lang="en" ng-app='trailsApp'>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./reset.css" rel="stylesheet">
    <link href="./css/fonts.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./views/1-home/home.css" rel="stylesheet">
    <link href="./views/2-trail-search/search.css" rel="stylesheet">
    <link href="./views/3-trail-data/data.css" rel="stylesheet">
    <link rel="stylesheet" href="./views/5-profile/profile.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css'
        type='text/css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.css'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:900">
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/loading.css">
</head>

<body ng-controller='mainCtrl'>

    <!---/////-Loading animation-/////-->
    <div class="loading-container" id='loading'>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!---/////-slide out nav bar - MOBILE-/////-->
    <div layout="row" class="side-menu">
        <md-sidenav md-component-id="left" class="md-sidenav-left">
            <div class="menu-options-mobile">
                <div ng-click="openLeftMenu()" class="close"><img src="./img/close.svg" alt="close button"></div>
                <div>
                    <a ui-sref='home' ng-click="openLeftMenu()">Home</a>
                </div>
                <div>
                    <a ui-sref='search' ng-click="openLeftMenu()">Search</a>
                </div>
                <div id='loginProfile'>
                    <a ui-sref="profile" ng-click="openLeftMenu()">Profile</a>
                </div>
                <div id="logoutProfile">
                    <a href="/auth/logout" ng-click="openLeftMenu()">Logout</a>
                </div>
            </div>
        </md-sidenav>
        <md-content style="background-color: transparent; position: absolute;" class='mobile-content'>
            <div ng-click="openLeftMenu()" class="open"><img src="./img/menu.svg" alt="open button"></div>
        </md-content>
    </div>

    <!--/////- desktop nav bar -/////-->
    <nav class="desktop-nav">
        <div>
            <a ui-sref='home'>Home</a>
        </div>
        <div>
            <a ui-sref='search'>Search</a>
        </div>
        <div id='loginProfile-desktop'>
            <a ui-sref="profile">Profile</a>
        </div>
        <div id="logoutProfile-desktop">
            <a href="/auth/logout">Logout</a>
        </div>
    </nav>
    <ui-view></ui-view>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>

    <script src="./assets/jquery.waypoints.js"></script>
    <script src="./assets/angular-aria.js"></script>
    <script src="./assets/angular-animate.js"></script>
    <script src="app.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="./views/2-trail-search/searchCtrl.js"></script>
    <script src="./views/3-trail-data/dataCtrl.js"></script>
    <script src="./views/1-home/homeCtrl.js"></script>
    <script src="./service/mainSvc.js"></script>
    <script src="./service/polylineSvc.js"></script>
    <script src="./service/loginSvc.js"></script>
    <script src="./service/elevationSvc.js"></script>
    <script src="./service/postNewTrailSvc.js"></script>
</body>

</html>