.mobile-container {
    width: 100%;
}

.mobile-text-container {
    width: 100%;
    height: 100%;
}

.section1-mobile {
    padding: 80px 20px;
    background: url('../../img/mika-matin.jpg'), no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.heading {
    margin: 20px 0 30px 10px;
}

.bar {
    background-color: black;
    height: 50px;
    width: 275px;
    margin-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar p {
    color: white;
}

.section2-mobile {
    margin-top: 40px;
}

.section2-mobile h2,
.section3-mobile h2,
.section4-mobile h2,
.section5-mobile h2,
.section6-mobile h2 {
    padding: 20px;
}

.section2-mobile p,
.section3-mobile p,
.section4-mobile p,
.section5-mobile p,
.section6-mobile p {
    margin: 0 20px 0 20px;
}

.section6-mobile {
    margin-bottom: 40px;
}

.section2-mobile p,
.section3-mobile p,
.section4-mobile p,
.section5-mobile p {
    margin-bottom: 60px;
}

.section3-mobile h2,
.section5-mobile h2 {
    text-align: right;
}

.section3-mobile p,
.section5-mobile p {
    text-align: right;
}

@media(min-width: 650px) {
    .mobile-text-container {
    padding: 0 60px 80px 60px;
    
}


.section3-mobile p,
.section4-mobile p,
.section5-mobile p,
.section6-mobile p {
    width: 60%;
}

.section3-mobile,
.section4-mobile,
.section5-mobile,
.section6-mobile {
    padding: 0 20px;
}
.section3-mobile p,
.section5-mobile p {
    float: right;
}

.section2-mobile p {
    margin-bottom: 100px;
}
/*.description-text {
    background: linear-gradient( 
        rgba(250, 250, 250, 0.3), 
        rgba(250, 250, 250, 0.3)),
        url('../../img/adrian.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}*/

}

