<div class="mobile-container">
    <div class="section1-mobile parallax">
        <div id='home-1' class="heading content animated fadeInLeft">
            <h1>The Beaten Path</h1>
        </div>
        <div id='home-2' class="bar animated fadeInRight">
            <p>Find the perfect trail.</p>
        </div>
    </div>
    <div class="mobile-text-container">
        <div id='home-3' class="section2-mobile animated">
            <h2>Search for trails by ...</h2>
            <p>Find trails that are fit just for you.</p>
        </div>
        <div class="description-text">

        <div id='home-4' class="section3-mobile animated">
            <h2>length</h2>
            <p>Search for your trail by length in miles. Whether you need trail for a three day backpacking trip or an afternoon
                with your kids, you can find here.</p>
        </div>
        <div id='home-5' class="section4-mobile animated">
            <h2>difficulty</h2>
            <p>Based on the length and steepness of the trail, we can give you an idea of how difficult or easy the trail should
                be. Narrow it down to 5 categories: easy, moderate, challenging, hard and very hard.</p>
        </div>
        <div id='home-6' class="section5-mobile animated">
            <h2>location</h2>
            <p>When you search for a trail, just move the map to the area you want to hike. Only trails in that area will list
                out for you!</p>
        </div>
        <div id='home-7' class="section6-mobile animated">
            <h2>time</h2>
            <p>Do you only have a couple hours? No problem, you can find a trail that is fits within your time range.</p>
        </div>
        </div>
    </div>
</div>