<div>
    <h1>here's your trail!</h1>
    <br>
    <h1>{{trail.trail_name}}</h1>
    <br>
    <h2>{{trail.gis_miles}} - miles</h2>
    <h2>{{trail.incline}} - incline percent</h2>
    <h2>{{trail.elevation}} - elevation change</h2>
    <h2>{{trail.difficulty}} - difficulty number</h2>
    // 0 - 5 EASY // 6 - 10 MODERATE // 11 - 16 CHALLENGING // 17 - 22 DIFFICULT // 23 - 28 VERY DIFFICULT // 29 + EXTREME
    <h2>{{trail.time}} - estimated completion time</h2>
</div>
<div>
    <div id='favorite' ng-show='fav' ng-click='addToFavorites(); show=!show'>
        <p>add to favorites</p>
    </div>
    <div id='removeFavorite' ng-show='rem' ng-click='deleteTrail(); show=false'>
        <p>remove from favorites</p>
    </div>
</div>
<a ng-href={{directions}} target="_blank">directions</a>
<button ng-click='markCompletedFromTrailData()'>mark completed</button>
<div id="trailmap"></div>