<h1>here's your trail!</h1>
<br>
<h1>{{trail.trail_name}}</h1>
<br>
<h2>{{trail.gis_miles}} - miles</h2>
<h2>{{trail.incline}} - incline percent</h2>
<h2>{{trail.elevation}} - elevation change</h2>
<h2>{{trail.difficulty}} - difficulty number</h2>
// 0 - 5	EASY
// 6 - 10	MODERATE
// 11 - 16	CHALLENGING
// 17 - 22	DIFFICULT
// 23 - 28	VERY DIFFICULT
// 29 +	EXTREME
<h2>{{trail.time}} - estimated completion time</h2>
<!--<map-directive></map-directive>-->

<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
  <ng-map center={{center}} zoom="12"><shape name="polyline" path="{{path}}" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2"></shape></ng-map>
  
</div>



