#trailmap {
  height: 340px;
  width: 100%;
}

.stats {
  margin: 5px 20px 20px 20px;
}

.trail-header {
  text-align: right;
  width: 100%;
  padding: 20px 20px 20px 70px;
}

.fav-btn {
  width: 100%;
  text-align: center;
  height: 40px;
  background: black;
  padding-top: 5px;
  cursor: pointer;
}

.fav-btn p {
  color: white;
}

.directions-completed {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.completed-data {
  width: 45%;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  border: 1px solid lightgray;
  margin-left: 5px;
  cursor: pointer;
}

.directions {
  width: 45%;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  border: 1px solid lightgray;
  margin-right: 5px;
}

@media(min-width: 650px) {
  .main-trail-data {
    position: absolute;
    height: calc(100vh - 190px);
    width: 400px;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  #trailmap {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(100vw - 400px);
    overflow: hidden;
  }
  .trail-header {
    text-align: left;
    padding: 20px 20px 40px 20px;
  }
  .chart {
    margin: 20px auto;
    max-width: 100%;
    max-height: 150px;
  }
  #elevationChart {
    height: 150px;
    width: 100%;
    padding-left: 15px;
  }
  .crappy-chart {
    width: 380px;
    padding-top: 1px;
    height: 190px;
    /*background: rgba(255, 255, 255, 0.5);*/
    background: white;
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }

  .el-samp-title {
    background: black;
    height: 40px;
    padding: 5px 0 0 20px;
    color: white;
    position: absolute;
    left: 0;
    width: 400px;
    bottom: 190px;
  }

  .fav-btn {
    margin: 40px 0;
  }
}