<h1>Let's look for a trail!</h1>
<br>
<h1>DISTANCE IN MILES</h1>
<h1>from 0 to</h1>
<input type="range" min="0" max="100" value="25" step="1" ng-model='distance'/>
{{distance}}
<br>
<br>
<h1>ELEVATION CHANGE IN FEET</h1>
<h1>from 0 to</h1>
<input type="range" min="0" max="10000" value="25" step="1" ng-model='height'/>
{{height}}
<h1>to</h1>
<br>
<br>
<h1>DIFFICULTY</h1>
<button>EASY</button>
<button>MODERATE</button>
<button>CHALLENGING</button>
<button>DIFFICULT</button>
<button>VERY DIFFICULT</button>
<br>
<br>
<h1>ESTIMATED TIME TO COMPLETE IN HOURS</h1>
<h1>from 0 to</h1>
<input type="range" min="0" max="20" value="25" step="1" ng-model='difficulty'/>
{{difficulty}}
<button >SEARCH!</button>
<br>
<ul ng-repeat="trail in trails">
    <li ui-sref='trail-data({id: trail.trail_id})'>{{trail.trail_name}}</li>
</ul>

<!--<map-directive></map-directive>-->