@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:900');

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

h4, a, p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input, button, a:focus {
    outline: none;
}

p {
    line-height: 27px;
}

li {
    list-style-type: none;
}