.open {
    height: 40px;
    width: 35px;
    margin: 20px;
}

.close { 
    height: 30px;
    width: 30px;
    margin: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.side-menu img {
    width: 100%;
}

.menu-options-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    height: calc(100vh - 50px);
}

.menu-options-mobile div:not(:first-child) {
    margin-bottom: 10px;
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 0 5px 20px;
    width: 180px;
}

.menu-options-mobile div a {
    color: white;
}

.desktop-nav {
    display: none;
}

.loading-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 500;
}

@media(min-width: 600px) {
    .side-menu, 
    .md-sidenav-left,
    .mobile-content {
        display: none;
    }

    .desktop-nav {
        height: 50px;
        display: flex; 
        position: absolute;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        padding-right: 20px;
    }

    .desktop-nav div {
        padding: 0 20px;
    }

    .desktop-nav div a {
        color: black;
    }
}